html {
    box-sizing: border-box;

}

*,
::before,
::after {
    box-sizing: inherit;
}

.strona {
    color: black;
    max-width: 3000px;
    margin: 60px;
    padding: 10px;
    border: 4px solid rgb(222, 184, 135);
    border-radius: 40px;
    outline: 3px solid black;
    box-shadow: 6px 4px 3px 8px grey;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    background-color: rgb(255, 246, 235);
    text-align: center;
}

.strona__header {
    max-width: 3000px;
    margin: 60px;
    border: 2px solid black;
    background-color: bisque;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 26px;
}

.container {
    max-width: 900px;
    border: 2px solid black;
    padding: 20px;
    overflow-x: auto;
    margin: 90px;
    padding: 5px;
    border: 4px solid burlywood;
    border-radius: 40px;
    outline: 3px solid black;
    box-shadow: 6px 4px 3px 8px grey;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    background-color: rgb(255, 250, 237);
}

.caption {
    font-family: "Lato", sans-serif;
    font-size: 45px;
    color: green;
    text-shadow: 1px 1px 1px black;
    caption-side: top;
    text-align: center;
    margin-bottom: 10px;
}

.wstep {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    caption-side: top;
    text-align: center;
    margin: 70px;
    padding: 30px;
    max-width: 2600px;
}

.container__table {
    border-collapse: collapse;
    font-family: "Lato", sans-serif;
    font-size: 29px;
    text-align: center;
    caption-side: top;
    margin-bottom: 10px;


}

.tableCell {
    font-family: "Lato", sans-serif;
    border: 2px solid #ccc;
    padding: 12px;
    text-align: center;
    caption-side: top;
    margin-bottom: 10px;
}

.tableHeader {
    background-color: #9b9b9b;
    font-weight: 500;
}

.tableRow:nth-child(even) {
    background-color: rgb(113, 115, 118);
}

.tableRow:hover {
    background-color: rgb(151, 151, 151);
}


.link:link {
    color: rgb(2, 101, 131);
}

.link:visited {
    color: blue;
}

.link:focus {
    color: purple;
}

.link:hover {
    color: darkcyan;
}

.link:active {
    color: black;
}

.form {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    caption-side: top;
    text-align: center;
    margin: 70px;
    padding: 30px;
    max-width: 2600px;
    outline: 5px solid black;
}

.footer {
    max-width: 3000px;
    margin: 60px;
    padding: 20px;
    border: 3px solid grey;
    background-color: burlywood;
    border-radius: 10px;
    outline: 3px solid black;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    text-align: center;
}

.button {
    margin-left: 300px;
    padding: 50px;
    border: 3px solid grey;
    background-color: whitesmoke;
    border-radius: 10px;
    outline: 3px solid black;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    text-align: center;
}